@import url("https://fonts.cdnfonts.com/css/general-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background: #010103;
	font-family: "General Sans", sans-serif;
}

@layer utilities {
	.c-space {
		@apply px-5 sm:px-10;
	}
}
